.search{
  display: flex;
  margin: 10px auto;
  flex-direction: row;
  width: 48% !important;
  padding: 14px 0;
}

.float{
  float: right;
  padding: 14px 0;
}

.toggle{
  height: 20px;
  width: 50px !important;
  margin: 4px 5px;
}

.toggleText{
  margin: 0 15px 0 0;
}

.imgWidth{
  width: 250px;
  margin: 2px 2px;
}